.featurette-divider {
    margin: 4rem 0;
}

footer {
    background-color: #f8f9fa;
}

#hidden-card {
    display: none;
}

.card {
    border-radius: 10px;
}

.card-body>img {
    width: 100px;
    height: 100px;
}

/* remove the shadow onclick */
.btn {
    box-shadow: none !important
}

.form-floating {
    width: 100px; /*altrimenti la width base non era responsiva per i dispositivi "mobile small"*/
}

.card-sizing {
    width: 18rem;
}

#hidden-card-intern {
    width: 30rem;
}

.divider {
    margin: 4rem 0;
}

@media only screen and (max-width: 767px) {
    #hidden-card-intern {
        width: 18rem;
    }
}

@media only screen and (max-width: 320px) {
    .card-sizing {
        width: 16rem;
    }
    #hidden-card-intern {
        width: 16rem;
    }
}