.featurette-divider {
    margin: 4rem 0;
}

#hidden-card {
    display: none;
}

.card-body > img {
    width: 64px;
    height: 64px;
}

/* remove the shadow onclick */
.btn{
	box-shadow: none !important
}