<!doctype html>
<html lang="it">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords"
        content="meteo, meteo live, weather, app meteo, web weather, weekly weather, meteo settimanale, hourly weather, meteo orario, precipitation map, mappa delle precipitazioni">
    <meta name="description"
        content="Un'applicazione web per monitorare il meteo corrente, orario e settimanale di tutte le città nel mondo.">

    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Bootstrap CSS -->
    <link id="css-light" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap dark, credit to: vinorodrigues https://github.com/vinorodrigues/bootstrap-dark-5 -->
    <link id="css-dark" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css" disabled>
    <!-- custom css -->
    <link rel="stylesheet" href="css/custom.css">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Progetto Meteo Live",
            "description": "Un'applicazione web per monitorare il meteo corrente, orario e settimanale di tutte le città nel mondo.",
            "keywords": "meteo, meteo live, weather, app meteo, web weather, weekly weather, meteo settimanale, hourly weather, meteo orario, precipitation map, mappa delle precipitazioni",
            "inLanguage": "it",
            "author": {
                "@type": "Person",
                "givenName": "Davide",
                "familyName": "Carniselli"
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

    <title>Progetto Meteo Live</title>
</head>

<body onload="checkDarkMode(); weeklyWeather()">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="favicon.ico" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
                    Meteo Live
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown-navbar"
                    aria-controls="dropdown-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="dropdown-navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                    </ul>
                    <div class="form-check form-switch d-flex">
                        <input class="form-check-input" type="checkbox" role="switch" id="toggle-mode"
                            onchange="toggleDarkMode()">
                        <label class="form-check-label" for="toggle-mode">Dark Mode</label>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        <div class="container py-3">
            <!-- Main + search bar -->
            <div class="p-3 pb-md-4 mx-auto text-center">
                <h1 id="cityNameWeekly">Meteo Settimanale di Milano</h1>
                <p>Usa la barra di ricerca per cercare un'altra città e conoscere le sue previsioni settimanali.<a
                        href="#*">*</a></p>
            </div>

            <div class="input-group px-3 pt-3 pb-0 d-flex">
                <div class="form-floating flex-grow-1">
                    <input type="search" class="form-control rounded" id="floatingInput" placeholder="es. Milan, IT"
                        aria-label="Search" />
                    <label for="floatingInput">es. Milano, IT</label>
                </div>
                <button id="searchBtn" type="button" class="btn btn-outline-primary flex-shrink-0"
                    onclick="suggestion('weeklySuggestion')">search</button>
                <button type="button" class="btn btn-outline-secondary flex-shrink-0" onclick="getLocation()"><img
                        src="images/location.png" alt="posizione"></button>
            </div>
            <div class="suggestion-box mx-3 mb-3 mt-0">
                <ul id="weeklySuggestion" class="suggestion-elements list-group">
                </ul>
            </div>

            <div class="container mt-5">
                <div class="card text-center shadow">
                    <div class="card-header">
                        <h4 class="my-0 f2-normal">Meteo Corrente</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div id="current-weather" class="col-md-6">
                                <p class="card-text">data</p>
                                <img src="images/missing_image.png" alt="missing image" class="card-img-top">
                                <h6 class="card-title">meteo</h6>
                                <div id="alert" class="badge rounded-pill text-dark"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Umidità: </li>
                                    <li class="list-group-item">Pressione: </li>
                                    <li class="list-group-item">Vento: </li>
                                </ul>
                            </div>
                            <div id="weatherMap" class="col-md-6 pe-4"></div>
                        </div>
                    </div>
                </div>

                <div id="today-card" class="card text-center shadow my-5">
                    <div class="card-header">
                        <h4 class="my-0 f2-normal">Meteo Orario (24 ore)</h4>
                    </div>
                    <div id="today-weather" class="row-col pt-4 ms-3 me-1 mb-1">
                    </div>
                </div>


                <div id="daysWeather" class="row-col text-center py-4">
                    <h2 class="text-center">Meteo dei 7 giorni successivi</h2>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno1" aria-expanded="false"
                                    aria-controls="giorno1">
                                    <h5 class="text-center" id="g1">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno1">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno2" aria-expanded="false"
                                    aria-controls="giorno2">
                                    <h5 class="text-center" id="g2">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno2">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno3" aria-expanded="false"
                                    aria-controls="giorno3">
                                    <h5 class="text-center" id="g3">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno3">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno4" aria-expanded="false"
                                    aria-controls="giorno4">
                                    <h5 class="text-center" id="g4">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno4">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno5" aria-expanded="false"
                                    aria-controls="giorno5">
                                    <h5 class="text-center" id="g5">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno5">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno6" aria-expanded="false"
                                    aria-controls="giorno6">
                                    <h5 class="text-center" id="g6">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno6">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col py-3">
                        <div class="clickable-card card">
                            <div class="card-header">
                                <a data-bs-toggle="collapse" href="#giorno7" aria-expanded="false"
                                    aria-controls="giorno7">
                                    <h5 class="text-center" id="g7">Meteo Domani</h5>
                                </a>
                            </div>
                            <div class="collapse card-body pt-0" data-bs-parent="#daysWeather" id="giorno7">
                                <div class="row pt-2">
                                    <div
                                        class="giornata-white-space col-12 mb-3 pb-2 ps-0 pe-0 border border-start-0 border-top-0 border-end-0 border-2">
                                        <h6>Info di Giornata</h6>
                                        <img src="images/missing_image.png" alt="missing image"
                                            class="card-img-top weekly-icon">
                                        <p class="mb-0">descrizione</p>
                                        <p class="mb-0">temp max - min</p>
                                        <p class="mb-0">precipitazioni - vento</p>
                                        <p>pressione - umidità - UV</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Mattina</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Pomeriggio</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3 border border-start-0 border-bottom-0 border-top-0 boder-2">
                                        <h6>Sera</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                    <div class="col-3">
                                        <h6>Notte</h6>
                                        <p>temperatura percepita</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div id="chartContainer" class="container-chart my-3"></div>
                <button id="temperature" class="btn btn-primary">temperature</button>
                <button id="rain" class="btn btn-secondary">precipitazioni</button>
            </div>

            <div id="*" class="pt-3">
                <p>* I dati sono raccolti usando le API di <a href="https://openweathermap.org/">openweathermap.org</a>
                </p>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer p-3 mt-auto border-top bg-light">
        <p class="float-end"><a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="#">Back to top</a>
        </p>
        <p>&copy; 2022-2022 Carniselli Davide - Unimi Informatica </p>
    </footer>

    <script src="js/weather.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/createChart.js"></script>
    <script src="js/createMap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>